@page "/Profile"
@attribute [Authorize]
@using Family.Authentication
@inject AuthenticationStateProvider _authenticationStateProvider
@inject NavigationManager _navigationManager
<section class="profile">
    <div class="profile-info">
        <h2 class="heading">Hello, @_username</h2>
        <form name="profile" class="form">
            <div class="form-data__group">
                <label>Username:</label>
                <input
                    class="input"
                    value="@_username"
                    disabled="disabled"/>
            </div>
            <div class="form-data__group">
                <label>Role:</label>
                <input
                    class="input"
                    value="@_role"
                    disabled="disabled"/>
            </div>
            <div class="form-data__group">
                <label>City:</label>
                <input
                    class="input"
                    disabled="disabled"
                    value="@_city"/>
            </div>
        </form>
        <div class="button-wrapper">
            <button type="button" class="logout-button" @onclick="Logout">Log Out</button>
        </div>

    </div>

</section>


@code{
    private string _username;
    private string _city;
    private string _role;


    protected override void OnInitialized()
    {
        base.OnInitialized();
        _username = ((CustomAuthenticationStateProvider) _authenticationStateProvider).GetCachedUser().UserName;
        _city = ((CustomAuthenticationStateProvider) _authenticationStateProvider).GetCachedUser().City;
        _role = ((CustomAuthenticationStateProvider) _authenticationStateProvider).GetCachedUser().Role;
    }

    public void Logout()
    {
        ((CustomAuthenticationStateProvider) _authenticationStateProvider).Logout();
        _navigationManager.NavigateTo("/login");
    }

}