.input {
    border: none;
    border-bottom: 1px solid #000;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    padding: 0 0 10px;
    outline: none;
    background: transparent;
}

.input:focus {
    transform: scale(1.02);
}

.label {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #a0a0a0;
    margin-top: 24px;
    padding-bottom: 5px;
}

.submit__button {
    background: #6C79D9;
    border-radius: 3px;
    border: none;
    outline: none;
    padding: 15px 0;
    color: #fff;
    margin-top: 40px;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}

.submit__button:hover {
    opacity: 0.8;
}

.form {
    display: flex;
    flex-direction: column;
}

.addAdults {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 0;
    min-height: 100vh;
    box-sizing: border-box;
}

@media screen and (max-width: 800px) {
    .addAdults {
        padding: 170px 0;
    }
}

@media screen and (max-width: 450px) {
    .addAdults {
        padding: 56px 30px 30px;
    }

    .heading {
        font-size: 24px;
    }
}