@page "/"

<div class="quote-container">
    <AuthorizeView>
        <Authorized>
            <h1>
                Welcome back,

                @if (context.User.Identity != null)
                {
                    @context.User.Identity.Name
                }

            </h1>
        </Authorized>
        <NotAuthorized>
            <h1>Log In to add adults, see their detailed data and interesting statistics</h1>
        </NotAuthorized>
    </AuthorizeView>
</div>
<div class="lead-image__wrapper">
    <img src="images/lead-image.svg" class="img-fluid" alt="Lead Image"/>
</div>