.input[b-j4e6if7f7h] {
    border: none;
    border-bottom: 1px solid #000;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    padding: 0 0 10px;
    outline: none;
    background: transparent;
}

.input:focus[b-j4e6if7f7h] {
    transform: scale(1.02);
}

.label[b-j4e6if7f7h] {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #a0a0a0;
    margin-top: 24px;
    padding-bottom: 5px;
}

.submit__button[b-j4e6if7f7h] {
    background: #6C79D9;
    border-radius: 3px;
    border: none;
    outline: none;
    padding: 15px 0;
    color: #fff;
    margin-top: 40px;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}

.submit__button:hover[b-j4e6if7f7h] {
    opacity: 0.8;
}

.form[b-j4e6if7f7h] {
    display: flex;
    flex-direction: column;
}

.addAdults[b-j4e6if7f7h] {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 0;
    min-height: 100vh;
    box-sizing: border-box;
}

@media screen and (max-width: 800px) {
    .addAdults[b-j4e6if7f7h] {
        padding: 170px 0;
    }
}

@media screen and (max-width: 450px) {
    .addAdults[b-j4e6if7f7h] {
        padding: 56px 30px 30px;
    }

    .heading[b-j4e6if7f7h] {
        font-size: 24px;
    }
}