@import '';

/* _content/Family/Pages/Login/Login.razor.rz.scp.css */
.input[b-3wez6rnu0m] {
    border: none;
    border-bottom: 1px solid #000;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    padding: 0 0 10px;
    outline: none;
    background: transparent;
}

.input:focus[b-3wez6rnu0m] {
    transform: scale(1.02);
}

.input__error-message[b-3wez6rnu0m] {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    padding: 20px 0;
    color: #ee3465;
    
}

.heading[b-3wez6rnu0m] {
    font-size: 2rem;
}

.label[b-3wez6rnu0m] {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #a0a0a0;
    margin-top: 24px;
    padding-bottom: 5px;
}

.form[b-3wez6rnu0m] {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.login[b-3wez6rnu0m] {
    max-width: 396px;
    margin: 0 auto;
    padding: 70px 0;
    min-height: 100vh;
    box-sizing: border-box;
}

@media screen and (max-width: 800px) {
    .login[b-3wez6rnu0m] {
        padding: 170px 0;
    }
}

@media screen and (max-width: 450px) {
    .login[b-3wez6rnu0m] {
        padding: 56px 30px 30px;
    }
    
    .heading[b-3wez6rnu0m] {
        font-size: 24px;
    }
}

.login-button[b-3wez6rnu0m] {
    margin-top: 130px;
    width: 100%;
    background: #5E81F4;
    border-radius: 3px;
    padding: 14px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    border: none;
    outline: none;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}

.login-button:hover[b-3wez6rnu0m] {
    opacity: 0.8;
}
/* _content/Family/Shared/Components/NavMenu/NavMenu.razor.rz.scp.css */
.header__nav[b-w2iwl87fql] {
    background: #fff;
    padding: 20px 40px;
}


.collapse[b-w2iwl87fql] {
    justify-content: space-between !important;
}

.header__nav-link[b-w2iwl87fql] {
    font-weight: 700;
    text-transform: uppercase;
    color: #5C6A79;
}

.menu-button[b-w2iwl87fql] {
    outline: none;
}


.header__link[b-w2iwl87fql] {
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: #5C6A79;
}

.header__link:hover[b-w2iwl87fql] {
    opacity: .7;
}


.header__link_active[b-w2iwl87fql] {
    font-weight: bolder;
    color: #000;
}

.manage-profile[b-w2iwl87fql] {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* _content/Family/Shared/MainLayout.razor.rz.scp.css */
.page[b-dy4wxczd3d] {
   
    display: flex;
    flex-direction: column;
  
   
}

.main[b-dy4wxczd3d] {
    flex: 1;
    background: url("images/banner.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar[b-dy4wxczd3d] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-dy4wxczd3d] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row  a[b-dy4wxczd3d], .top-row .btn-link[b-dy4wxczd3d] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-dy4wxczd3d] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-dy4wxczd3d] {
        display: none;
    }

    .top-row.auth[b-dy4wxczd3d] {
        justify-content: space-between;
    }

    .top-row a[b-dy4wxczd3d], .top-row .btn-link[b-dy4wxczd3d] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-dy4wxczd3d] {
        flex-direction: row;
    }

    .sidebar[b-dy4wxczd3d] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-dy4wxczd3d] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-dy4wxczd3d] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
