@using Family.Authentication
@using Models
@inject AuthenticationStateProvider _authenticationStateProvider
@inject NavigationManager _navigationManager
<header class="header">
    <nav class="header__nav navbar navbar-expand-md navbar-expand-sm">
        <a class="header__link" href="/">
            <img class="navbar-brand" src="images/logo.svg" alt="Logo">
        </a>
        <button class="navbar-toggler menu-button" type="button" data-toggle="collapse" data-target="#myNavbar">
            <img class="navbar-toggler-icon " alt="Menu icon" src="images/menu.svg"/>
        </button>


        <div class="collapse navbar-collapse" id="myNavbar">


            <ul class="header__nav-links navbar-nav">
                <NavLink href="/adults" class="nav-link">Adults</NavLink>

                <AuthorizeView>
                    <Authorized>
                        <NavLink href="/addAdult" class="nav-link">Add adults</NavLink>
                        <NavLink href="/statistics" class="nav-link">Charts</NavLink>
                    </Authorized>

                </AuthorizeView>
            </ul>
            <AuthorizeView>
                <Authorized>
                    <ul class="manage-profile">
                        <li class="header__nav-link nav-item">
                            <a href="/profile" class="header__link nav-link ">
                                <img src="images/profile-icon.svg" alt="Profile icon"/>
                            </a>
                        </li>
                        <li class="header__nav-link nav-item">
                            <button class="logout-button" type="button" @onclick="Logout">
                                <img src="images/logout-icon.svg" alt="Logout icon"/>
                            </button>
                        </li>
                    </ul>

                </Authorized>
                <NotAuthorized>
                    <div class="btn-group">
                    <a class="login-link" style="margin-right: 10px" href="/login">Login</a>
                    <a class="login-link" href="/register">Register</a>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </div>

    </nav>
</header>

@code {

    public void Logout()
    {
        ((CustomAuthenticationStateProvider) _authenticationStateProvider).Logout();
        _navigationManager.NavigateTo("/login");
    }

}