.header__nav {
    background: #fff;
    padding: 20px 40px;
}


.collapse {
    justify-content: space-between !important;
}

.header__nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: #5C6A79;
}

.menu-button {
    outline: none;
}


.header__link {
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: #5C6A79;
}





.header__link:hover {
    opacity: .7;
}


.header__link_active {
    font-weight: bolder;
    color: #000;
}

.manage-profile {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-link {
    font-weight: 500;
    background: #6C79D9;
    border-radius: 8px;
    padding: 8px 18px;
    color: #fff;
    text-decoration: none;
}

.logout-button {
    background: transparent;
    border: none;
    padding: 0;
    outline: none;
}

@media screen and (max-width: 573px) {
.login-link {
    justify-content: center;
    display: flex;
    max-width: 80px;
    margin: 0 auto;
    
}
}