@using Family.Shared.Components.NavMenu
@inherits LayoutComponentBase


<div class="page">
    
    <div class="main">
        <NavMenu/>

        <div style="min-height: 100vh" class="content px-4">
            @Body
        </div>
    </div>
</div>