@using Family.Shared.Components.NavMenu
@inherits LayoutComponentBase
@using LoginComponent


<div class="page">

      
   

    <div class="main">
        <NavMenu />

        <div class="content px-4">
     
            @Body
        </div>
    </div>
</div>